body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.container {
    width: 648px;
    height: 2220px;
    /* border: dashed 1px; */
    margin: auto;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.paul_james_box {
    position: relative;
    width: 552px;
    height: 108px;
    border: solid 1.5px black;
    margin-left: 47px;
    margin-right: 47px;
    margin-top: 33px;
    top: 0px;
}

/* This box is there to help set the text */
.paul_james_text_box {
    position: fixed;
    display: inline-block;
    width: 233px;
    height: 37px;
    top: 56px;
    margin-top: 0px;
    border: solid 1px black;
    margin-left: 207.5px;
    margin-right: 207.5px;
    left: 124px;
    right: 123px;
}

.paul_james_text {
    position: relative;
    display: inline-block;
    font-size: 46.2px;
    margin-left: 206.5px;
    margin-right: 206.5px;
    top: -145px;
    align-items: center;
    font-family: Georgia, "Times New Roman", Times, serif;
}

/* This box is there to help set the links text */
.links_box {
    position: fixed;
    display: inline-block;
    width: 163px;
    height: 11px;
    top: 110px;
    margin-top: 0px;
    border: solid 1px black;
    margin-left: 310px;
    margin-right: 310px;
    left: 124px;
    right: 123px;
}

.links {
    position: relative;
    display: inline-block;
    font-size: 11px;
    margin-left: 241.5px;
    margin-right: 241.5px;
    top: -196px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.home_link {
    margin-left: 0px;
    text-decoration: none;
    color: black;
}
.nature_link {
    margin-left: 13.5px;
    text-decoration: none;
    color: #6f6f6f;
}
.nature_link:hover {
    color: black;
}
.urban_link {
    margin-left: 14px;
    text-decoration: none;
    color: #6f6f6f;
}
.urban_link:hover {
    color: black;
}
.bio_link {
    margin-left: 15px;
    text-decoration: none;
    color: #6f6f6f;
}
.bio_link:hover {
    color: black;
}

.image_pier {
    position: relative;
    width: 628px;
    height: 629px;
    object-fit: cover;
    object-position: -242px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 76px;
    top: -185px;
}

.image_road {
    position: relative;
    width: 628px;
    height: 619px;
    object-fit: cover;
    object-position: -300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    top: -185px;
}

.image_lake {
    position: relative;
    width: 628px;
    height: 634px;
    object-fit: cover;
    object-position: -106px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    top: -185px;
}

.copyright_box {
    position: relative;
    display: inline-block;
    width: 100px;
    top: -190px;
    bottom: 0px;
    margin-top: 32px;
    /* border: solid 1px black; */
    margin-left: 274px;
    margin-right: 274px;
    margin-bottom: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #6f6f6f;
    font-size: 9px;
}

.footer_box {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 86px;
    top: -190px;
    bottom: 0px;
    margin-top: 18px;
    /* border: solid 1px black; */
    margin-left: 281px;
    margin-right: 281px;
    margin-bottom: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #6f6f6f;
    font-size: 9px;
}

.footer_box a {
    height: 18px;
    width: 18px;
    text-decoration: none;
}

.facebook {
    position: relative;
    left: -16px;
}

.instagram {
    position: relative;
    right: -16px;
}

.page_bottom {
    position: relative;
    display: inline-block;
    height: 0px;
    width: 100px;
    top: -190px;
    bottom: 0px;
    margin-top: 28px;
    border: solid 1px black;
    margin-left: 340px;
    margin-right: 345px;
    margin-bottom: 0px;
}
