/* You can add global styles to this file, and also import other style files */

/* add background image to body */
body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(198, 205, 255, 0.5)
    ),
    url("assets/images/city.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

/* Border appears on the navbar links when that route is active */
.active {
  border-radius: 15px;
  border: solid 2px black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* style the angular material tab */
.mat-tab-group.mat-background-primary > .mat-tab-header,
.mat-tab-group.mat-background-primary > .mat-tab-link-container,
.mat-tab-group.mat-background-primary > .mat-tab-header-pagination,
.mat-tab-nav-bar.mat-background-primary > .mat-tab-header,
.mat-tab-nav-bar.mat-background-primary > .mat-tab-link-container,
.mat-tab-nav-bar.mat-background-primary > .mat-tab-header-pagination {
  background-color: rgba(250, 216, 81, 0.885);
}

.mat-tab-group.mat-background-primary > .mat-tab-header .mat-tab-label,
.mat-tab-group.mat-background-primary > .mat-tab-link-container .mat-tab-link,
.mat-tab-nav-bar.mat-background-primary > .mat-tab-header .mat-tab-label,
.mat-tab-nav-bar.mat-background-primary
  > .mat-tab-link-container
  .mat-tab-link {
  color: gray;
}

.mat-tab-group.mat-primary.mat-background-primary
  > .mat-tab-header
  .mat-ink-bar,
.mat-tab-group.mat-primary.mat-background-primary
  > .mat-tab-link-container
  .mat-ink-bar,
.mat-tab-nav-bar.mat-primary.mat-background-primary
  > .mat-tab-header
  .mat-ink-bar,
.mat-tab-nav-bar.mat-primary.mat-background-primary
  > .mat-tab-link-container
  .mat-ink-bar {
  background-color: #3f51b5;
}
