/* style the search form container as in spec */
.data_table_container {
  background-color: white;
  border-radius: 1rem;
  text-align: center;
}

img {
  max-width: 90px;
  max-height: 110px;
}

th {
  font-size: 14px;
}

td {
  font-size: 14px;
}
