/* style the table */
.data_table_container {
  background-color: white;
  border-radius: 1rem;
  text-align: center;
}

img {
  width: 90px;
  height: 90px;
}

th {
  font-size: 14px;
}

td {
  font-size: 14px;
}

/* style the material tab */
.business_details_tab_card {
  background-color: white;
  border-radius: 1rem;
  max-width: 800px;
  min-width: 360px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 12px;
  min-height: 620px;
}

/* spacing between twitter and facebook icons */
svg {
  margin-left: 5px;
}

/* remove border from carousel */
.carousel-inner .active {
  border: none;
}

/* put border around input+button in datepicker */
.input-group {
  border: solid 1px #ced4da;
  border-radius: 0.375rem;
}

/* change image in business image to smaller for small screen */
@media only screen and (max-width: 600px) {
  img {
    height: 40px;
    width: 40px;
  }
}
