<nav class="navbar navbar-expand navbar-light">
  <div class="container-fluid">
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="border border-dark p-2 mb-2 rounded-pill border-2">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/search"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Search</a
            >
          </div>
        </li>
        <li class="nav-item">
          <div class="border border-dark p-2 mb-2 rounded-pill border-2">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/bookings"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >My Bookings</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
