.input-group {
  border: solid 1px #ced4da;
  border-radius: 0.375rem;
}

/* .btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: none;
  background-color: none;
  border-color: none;
} */

/* .invalid-feedback {
  display: block;
} */
