<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reservation form</h4>
  </div>
  <div class="modal-body">
    <h5 class="text-center">{{ business_name }}</h5>

    <form [formGroup]="form">
      <div class="form-group">
        <div>
          <small
            ><label for="email_input" class="form-label">Email</label></small
          >
          <input
            type="email"
            class="form-control"
            id="email_input"
            [(ngModel)]="email_input"
            [ngClass]="
              form.get('email')?.touched &&
              form.get('email')?.dirty &&
              form.get('email')?.hasError('required')
                ? 'is-invalid'
                : '' || form.get('email')?.hasError('email')
                ? 'is-invalid'
                : '' ||
                  ((form.get('email')?.touched || form.get('email')?.dirty) &&
                    !form.get('email')?.invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="email"
          />
          <div class="invalid-feedback">
            {{
              form.get("email")?.hasError("required") ? "Email is required" : ""
            }}
            {{
              form.get("email")?.hasError("email")
                ? "Email must be a valid email address"
                : ""
            }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <div>
          <small><label for="date_input">Date</label></small>
          <input
            id="date_input"
            class="form-control"
            placeholder="mm/dd/yyyy"
            type="date"
            min="{{ min_date_string }}"
            [(ngModel)]="calendar_date_input"
            [ngClass]="
              form.get('date')?.touched &&
              form.get('date')?.dirty &&
              form.get('date')?.hasError('required')
                ? 'is-invalid'
                : '' ||
                  ((form.get('date')?.touched || form.get('date')?.dirty) &&
                    !form.get('date')?.invalid)
                ? 'is-valid'
                : ''
            "
            formControlName="date"
          />
          <div class="invalid-feedback">
            {{
              form.get("date")?.hasError("required") ? "Date is required" : ""
            }}
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <div>
          <small><label>Time</label></small>
          <div class="row">
            <div class="col-3">
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="time_hours"
                [ngClass]="
                  form.get('time_hours')?.touched &&
                  form.get('time_hours')?.dirty &&
                  form.get('time_hours')?.hasError('required')
                    ? 'is-invalid'
                    : '' ||
                      ((form.get('time_hours')?.touched ||
                        form.get('time_hours')?.dirty) &&
                        !form.get('time_hours')?.invalid)
                    ? 'is-valid'
                    : ''
                "
                formControlName="time_hours"
              >
                <option selected></option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
              </select>
            </div>
            <div class="col-1 my-auto">:</div>
            <div class="col-3">
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="time_minutes"
                [ngClass]="
                  form.get('time_minutes')?.touched &&
                  form.get('time_minutes')?.dirty &&
                  form.get('time_minutes')?.hasError('required')
                    ? 'is-invalid'
                    : '' ||
                      ((form.get('time_minutes')?.touched ||
                        form.get('time_minutes')?.dirty) &&
                        !form.get('time_minutes')?.invalid)
                    ? 'is-valid'
                    : ''
                "
                formControlName="time_minutes"
              >
                <option selected></option>
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
              </select>
            </div>
            <div class="col-1 my-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-clock"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                />
                <path
                  d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div> -->

      <div class="form-group">
        <div>
          <small><label>Time</label></small>
          <div class="row w-100">
            <div class="col-8">
              <select
                class="form-control d-inline-block"
                style="width: 35%"
                aria-label="Default select example"
                [(ngModel)]="time_hours"
                [ngClass]="
                  form.get('time_hours')?.touched &&
                  form.get('time_hours')?.dirty &&
                  form.get('time_hours')?.hasError('required')
                    ? 'is-invalid'
                    : '' ||
                      ((form.get('time_hours')?.touched ||
                        form.get('time_hours')?.dirty) &&
                        !form.get('time_hours')?.invalid)
                    ? 'is-valid'
                    : ''
                "
                formControlName="time_hours"
              >
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
              </select>

              <p class="d-inline" style="margin-left: 10px; margin: right 2px">
                :
              </p>

              <select
                class="form-control d-inline"
                style="width: 35%"
                aria-label="Default select example"
                [(ngModel)]="time_minutes"
                [ngClass]="
                  form.get('time_minutes')?.touched &&
                  form.get('time_minutes')?.dirty &&
                  form.get('time_minutes')?.hasError('required')
                    ? 'is-invalid'
                    : '' ||
                      ((form.get('time_minutes')?.touched ||
                        form.get('time_minutes')?.dirty) &&
                        !form.get('time_minutes')?.invalid)
                    ? 'is-valid'
                    : ''
                "
                formControlName="time_minutes"
              >
                <option value="00">00</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
              </select>

              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-clock"
                viewBox="0 0 16 16"
                style="margin-left: 12px"
              >
                <path
                  d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                />
                <path
                  d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <button type="submit" class="btn btn-danger" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-dark"
      (click)="modal.close('Save click')"
      (click)="clear_fields_on_close()"
    >
      Close
    </button>

    <!-- <button type="button" class="btn btn-dark" (click)="print_errors()">
      PRINT ERRORS
    </button> -->
  </div>
</ng-template>

<div class="col-md-12 col-sm-12 mt-2">
  <div *ngIf="reservation_exists; else show_reservation_button">
    <button
      type="button"
      class="btn btn-primary"
      (click)="cancel_reservation()"
    >
      Cancel reservation
    </button>
  </div>
  <ng-template #show_reservation_button>
    <button type="button" class="btn btn-danger" (click)="open_modal(content)">
      Reserve Now
    </button>
  </ng-template>
</div>
