<div class="container-fluid mx-5-5 search_form_container">
  <form
    class="mt-5"
    ngNativeValidate
    (ngSubmit)="
      search(
        form_keyword.value,
        form_distance.value,
        form_category.value,
        form_location.value
      )
    "
  >
    <h4 class="text-center">Business search</h4>
    <div class="form-group mt-3 required">
      <small>
        <label class="control-label" for="input_keyword">Keyword</label>
      </small>
      <input
        type="text"
        class="form-control mt-1"
        id="input_keyword"
        required
        #form_keyword
        [(ngModel)]="input_keyword"
        matInput
        [matAutocomplete]="auto"
        [formControl]="input_keyword_search_control"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onSelected()"
        [displayWith]="displayWith"
        ><mat-option *ngIf="isLoading" class="is-loading"
          ><div
            class="spinner-border spinner-border-sm float-start"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div></mat-option
        >
        <ng-container *ngIf="!isLoading">
          <mat-option
            *ngFor="let keyword of autocompleted_keywords"
            [value]="keyword"
          >
            <span>{{ keyword.text }}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>

    <div class="row mt-3">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <small>
            <label for="input_distance">Distance</label>
          </small>
          <input
            type="number"
            class="form-control mt-1"
            id="input_distance"
            placeholder="10"
            min="0.00000000001"
            max="24.84"
            step="0.00000000001"
            #form_distance
            [(ngModel)]="input_distance"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <!-- DROPDOWN -->
      <!-- <div class="col">
          <div class="form-group required">
            <small>
              <label class="control-label" for="dropdown_category"
                >Category</label
              >
            </small>
            <div class="dropdown mt-1" id="dropdown_category">
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
              >
                Default
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" type="button">Default</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Arts and Entertainment
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Health and Medical
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Hotels and travel
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">Food</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Professional Services
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div> -->

      <div class="col-md-6 col-sm-12">
        <div class="form-group required">
          <small>
            <label class="control-label" for="dropdown_category"
              >Category</label
            >
          </small>
          <select
            class="form-select mt-1 btn-outline-secondary"
            #form_category
            [(ngModel)]="input_category_selected_val"
            [ngModelOptions]="{ standalone: true }"
          >
            <option
              *ngFor="let category of input_category"
              value="{{ category.value }}"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group mt-3 required">
      <small>
        <label class="control-label" for="input_location">Location</label>
      </small>
      <input
        type="text"
        class="form-control mt-1"
        id="input_location"
        required
        #form_location
        [(ngModel)]="input_location"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="form-check mt-3">
      <input
        type="checkbox"
        class="form-check-input"
        id="check_auto_detect"
        (click)="disable_location_input()"
      />
      <small>
        <label class="form-check-label" for="check_auto_detect"
          >Auto-detect my location</label
        >
      </small>
    </div>

    <div class="row mt-3 mb-5">
      <div class="col">
        <button type="submit" class="btn btn-danger float-end">Submit</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Clear</button>
      </div>
    </div>
  </form>
</div>

<!-- Results Table goes here -->
<div *ngIf="!first_search_performed; else other_content"></div>
<ng-template #other_content>
  <div *ngIf="no_yelp_data; else display_results_table">
    <h4
      class="text-center mt-5 mx-auto"
      style="
        color: red;
        background-color: white;
        width: 350px;
        border-radius: 1rem;
        text-align: center;
      "
    >
      No results available
    </h4>
  </div>
  <ng-template #display_results_table
    ><app-results-table
      [results_table_data]="data"
      [load_completed_table]="load_completed"
    ></app-results-table
  ></ng-template>
</ng-template>

<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reservation form</h4>
  </div>
  <div class="modal-body">
    <h5 class="text-center">Business Name</h5>
    <form>
      <div class="mb-3">
        <small
          ><label for="exampleInputEmail1" class="form-label"
            >Email address</label
          ></small
        >
        <input type="email" class="form-control" id="exampleInputEmail1" />
      </div>

      <div class="mb-3">
        <small><label for="dateOfBirth">Date</label></small>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control shadow-none"
            placeholder="mm/dd/yyyy"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
            style="border: 0px; cursor: auto"
            readonly
          />
          <button
            class="btn bi bi-calendar"
            (click)="dp.toggle()"
            type="button"
            style="cursor: auto"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-calendar"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
              />
            </svg>
          </button>
        </div>
      </div>

      <!-- <div class="mb-3">
        <small><label for="dateOfBirth">Time</label></small>
        <div class="row container">
          <div class="col-2">
            <select class="form-select" aria-label="Default select example">
              <option selected></option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-1">:</div>
          <div class="col-2">
            <select class="form-select" aria-label="Default select example">
              <option selected></option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-7 float-start">hi</div>
        </div>
      </div> -->
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-danger"
          (click)="modal.close('submit click')"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-dark"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
<div class="col-md-12 col-sm-12 mt-4">
  <button type="button" class="btn btn-danger" (click)="open_modal(content)">
    Reserve Now
  </button>
</div>

<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
