/* style the search form container as in spec */
.search_form_container {
  background-color: white;
  border: solid 0.5px grey;
  border-radius: 1rem;
  max-width: 700px;
  min-width: 360px;
}

/* put red asteriks next to required fields */
.form-group.required .control-label:after {
  content: " *";
  color: red;
}

/* Hide up and down arrow keys of the input number box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  /* Firefox */
  -moz-appearance: textfield;
}

/* change css of this button class to match the requirement */
.btn-outline-secondary {
  border: 1px solid #ced4da;
  --bs-btn-hover-color: none;
  --bs-btn-hover-bg: none;
  --bs-btn-hover-border-color: none;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: none;
  --bs-btn-active-color: rgb(0, 0, 0);
  width: 70%;
  text-align: left;
}

/* move the down carrot to right middle end for DROPDOWN */
.dropdown-toggle::after {
  vertical-align: middle !important;
  float: right !important;
}

/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
.business_details_tab_card {
  background-color: white;
  border-radius: 1rem;
  max-width: 800px;
  min-width: 360px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 12px;
  min-height: 620px;
}

.carousel-inner .active {
  border: none;
}

/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
/* DELETE */
