<div class="container-fluid mx-5-5 search_form_container">
  <form
    class="mt-5"
    ngNativeValidate
    (ngSubmit)="
      search(
        form_keyword.value,
        form_distance.value,
        form_category.value,
        form_location.value
      )
    "
  >
    <h4 class="text-center">Business search</h4>
    <div class="form-group mt-3 required">
      <small>
        <label class="control-label" for="input_keyword">Keyword</label>
      </small>
      <input
        type="text"
        class="form-control mt-1"
        id="input_keyword"
        required
        #form_keyword
        [(ngModel)]="input_keyword"
        matInput
        [matAutocomplete]="auto"
        [formControl]="input_keyword_search_control"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onSelected()"
        [displayWith]="displayWith"
        ><mat-option *ngIf="isLoading" class="is-loading"
          ><div
            class="spinner-border spinner-border-sm float-start"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div></mat-option
        >
        <ng-container *ngIf="!isLoading">
          <mat-option
            *ngFor="let keyword of autocompleted_keywords"
            [value]="keyword"
          >
            <span>{{ keyword.text }}</span>
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </div>

    <div class="row mt-3">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <small>
            <label for="input_distance">Distance</label>
          </small>
          <input
            type="number"
            class="form-control mt-1"
            id="input_distance"
            placeholder="10"
            min="0.00000000001"
            max="24.84"
            step="0.00000000001"
            #form_distance
            [(ngModel)]="input_distance"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <!-- DROPDOWN -->
      <!-- <div class="col">
          <div class="form-group required">
            <small>
              <label class="control-label" for="dropdown_category"
                >Category</label
              >
            </small>
            <div class="dropdown mt-1" id="dropdown_category">
              <button
                class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
              >
                Default
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" type="button">Default</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Arts and Entertainment
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Health and Medical
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Hotels and travel
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">Food</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Professional Services
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div> -->

      <div class="col-md-6 col-sm-12">
        <div class="form-group required">
          <small>
            <label class="control-label" for="dropdown_category"
              >Category</label
            >
          </small>
          <select
            class="form-select mt-1 btn-outline-secondary"
            #form_category
            [(ngModel)]="input_category_selected_val"
            [ngModelOptions]="{ standalone: true }"
          >
            <option
              *ngFor="let category of input_category"
              value="{{ category.value }}"
            >
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group mt-3 required">
      <small>
        <label class="control-label" for="input_location">Location</label>
      </small>
      <input
        type="text"
        class="form-control mt-1"
        id="input_location"
        required
        #form_location
        [(ngModel)]="input_location"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="form-check mt-3">
      <input
        type="checkbox"
        class="form-check-input"
        id="check_auto_detect"
        (click)="disable_location_input()"
      />
      <small>
        <label class="form-check-label" for="check_auto_detect"
          >Auto-detect my location</label
        >
      </small>
    </div>

    <div class="row mt-3 mb-5">
      <div class="col">
        <button type="submit" class="btn btn-danger float-end">Submit</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-primary">Clear</button>
      </div>
    </div>
  </form>
</div>

<!-- Results Table goes here -->
<div *ngIf="!first_search_performed; else other_content"></div>
<ng-template #other_content>
  <div *ngIf="no_yelp_data; else display_results_table">
    <h4
      class="text-center mt-5 mx-auto"
      style="
        color: red;
        background-color: white;
        width: 350px;
        border-radius: 1rem;
        text-align: center;
      "
    >
      No results available
    </h4>
  </div>
  <ng-template #display_results_table
    ><app-results-table
      [results_table_data]="data"
      [load_completed_table]="load_completed"
    ></app-results-table
  ></ng-template>
</ng-template>

<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->

<!-- <div class="container-fluid mx-5-5 business_details_tab_card mt-5">
  <div class="mx-2 pt-3" style="cursor: pointer"></div>

  <h4 class="text-center">TEST</h4>
  <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
    <mat-tab label="Business Details">
      <div class="row container text-center mt-5">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-12 col-sm-6">
              <h5>Address</h5>
              <p>address</p>
            </div>
            <div class="col-md-12 col-sm-6">
              <h5>Phone</h5>
              <p>phone</p>
            </div>
            <div class="col-md-12 col-sm-6">
              <h5>Status</h5>
              <p style="color: green">Open Now</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col-md-12 col-sm-6">
              <h5>Category</h5>
              <p>category</p>
            </div>
            <div class="col-md-12 col-sm-6">
              <h5>Price</h5>
              <p>price</p>
            </div>
            <div class="col-md-12 col-sm-6">
              <h5>Visit yelp for more</h5>
              <a href="https://www.google.com">Business link</a>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-sm-12 mt-4">
          <button type="button" class="btn btn-danger">Reserve Now</button>
        </div>
        <div class="col-md-12 col-sm-12 mt-3">
          <p>Share on:</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Map location" class="mb-5"> </mat-tab>
    <mat-tab label="Reviews"> </mat-tab>
  </mat-tab-group>
</div> -->

<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
<!-- DELETE -->
