.search_form_container {
  background-color: white;
  border: solid 0.5px grey;
  border-radius: 1rem;
  max-width: 700px;
  min-width: 360px;
}

/* put red asteriks next to required fields */
.form-group.required .control-label:after {
  content: " *";
  color: red;
}

/* Hide up and down arrow keys of the input number box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  /* Firefox */
  -moz-appearance: textfield;
}
